@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />

<nav class="navigation">
    <h1>Contract Monthly Claim System</h1>
    <a href="@Url.Action("Dashboard","Home")">Home</a>
  
    <div class="dropdown">
        <a href="#">Dashboard ▾</a>
        <div class="dropdown-content">
            <a href="@Url.Action("Lecture","Users")">Lecturer</a>
            <a href="@Url.Action("Program_Coordinator","Users")">Programme Coordinator</a>
            <a href="@Url.Action("Academic_Manager","Users")">Academic Manager</a>
        </div>
    </div>

    <a href="@Url.Action("LogIn","Home")"><i class="fa-solid fa-user"></i>Log In</a>
</nav>



